# Comments are provided throughout this file to help you get started.
# If you need more help, visit the Docker Compose reference guide at
# https://docs.docker.com/go/compose-spec-reference/

# Here the instructions define your application as a service called "server".
# This service is built from the Dockerfile in the current directory.
# You can add other services your application may depend on here, such as a
# database or a cache. For examples, see the Awesome Compose repository:
# https://github.com/docker/awesome-compose
services:
  backend:
    image: praveshyadav71/qs_backend_dev:v1
    build:
      context: ./backend
      dockerfile: Dockerfile
    ports:
      - 8001:8001
    environment:
      - DJANGO_SETTINGS_MODULE=QuickserveBackend.settings   

# The commented out section below is an example of how to define a PostgreSQL
# database that your application can use. `depends_on` tells Docker Compose to
# start the database before your application. The `db-data` volume persists the
# database data between container restarts. The `db-password` secret is used
# to set the database password. You must create `db/password.txt` and add
# a password of your choosing to it before running `docker compose up`.
#     depends_on:
#       db:
#         condition: service_healthy
#   db:
#     image: postgres
#     restart: always
#     user: postgres
#     secrets:
#       - db-password
#     volumes:
#       - db-data:/var/lib/postgresql/data
#     environment:
#       - POSTGRES_DB=example
#       - POSTGRES_PASSWORD_FILE=/run/secrets/db-password
#     expose:
#       - 5432
#     healthcheck:
#       test: [ "CMD", "pg_isready" ]
#       interval: 10s
#       timeout: 5s
#       retries: 5
# volumes:
#   db-data:
# secrets:
#   db-password:
#     file: db/password.txt

  frontend:
    image: praveshyadav71/frontend-dev:v1
    build:
      context: ./quickserve
      dockerfile: Dockerfile
    # container_name: react_frontend
      ports:
        - "5173:5173"
    volumes:
      - ./quickserve:/app         # Live-sync React code
      - /app/node_modules       # Anonymous volume so Docker doesn't overwrite node_modules
    environment:
      - WDS_SOCKET_PORT=0       # Fixes React Hot-Module-Reloading in Docker
      - CHOKIDAR_USEPOLLING=true # Ensures file changes are detected on Linux/WSL
    depends_on:
      - backend                 # Ensures backend starts before frontend
    stdin_open: true            # Allows React to stay running
  